/* === 编辑视图 隐藏内嵌文档 === */
.markdown-source-view.is-live-preview .internal-embed.markdown-embed.inline-embed.is-loaded {
    display: none;
}

/* ------------------------------------------------------------------ */

/* === 阅读视图 隐藏文件名 === */
.internal-embed.markdown-embed.inline-embed.is-loaded
.embed-title.markdown-embed-title {
    display: none;
}

/* ------------------------------------------------------------------ */

/* === 阅读视图 打开链接 === */
.internal-embed.markdown-embed.inline-embed.is-loaded .markdown-embed-link {
    display: flex !important;
    /* top: -8px;
    inset-inline-end: -12px; */
}

/* ------------------------------------------------------------------ */

/* === 脚注视图 隐藏内嵌文档 === */
/* .footnote-list-item .internal-embed.markdown-embed.inline-embed.is-loaded {
    display: none;
} */

/* ------------------------------------------------------------------ */

/* === 修复 Obsidian 1.10.6 === */
.markdown-rendered li h1, .markdown-rendered li h2, .markdown-rendered li h3, .markdown-rendered li h4, .markdown-rendered li h5 {
    margin-top: 10px !important;
    margin-bottom: 10px;
}
.markdown-rendered ul li p:last-of-type, .markdown-rendered ol li p:last-of-type {
    margin-block-end: 10px;
}
.markdown-rendered ul li p:first-of-type, .markdown-rendered ol li p:first-of-type {
    margin-block-start: 10px;
}
.markdown-rendered > .markdown-preview-section > div:last-child > :last-child {
    margin-bottom: 10px;
}

/* ------------------------------------------------------------------ */

/* === 阅读视图 显式笔记属性 === */
.internal-embed.markdown-embed.inline-embed.is-loaded .metadata-container.is-collapsed,
.internal-embed.markdown-embed.inline-embed.is-loaded .metadata-content,
.internal-embed.markdown-embed.inline-embed.is-loaded .metadata-content .metadata-property {
    display: block !important;
}
.internal-embed.markdown-embed.inline-embed.is-loaded .metadata-container.is-collapsed {
    margin-block-end: 0px;
}