/* === 图片 装饰 === */
img {
    /* filter: brightness(93%) drop-shadow(4px 4px 0px #d7daea); */
    filter: brightness(95%);
    border-radius: 10px;
}

/* ------------------------------------------------------------------ */

/* === 图片 居中 === */
img[src*="_center"] {
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
}